{% load ksp_utils %}
{% if error %}<div class="error">{{ error }}</div>
{% else %}
  <div style="margin: 0.5em 0"><b>{{ perimeter_feedback.0 }}:</b> {{ perimeter_feedback.1 }}</div>
  {% if total %}<div style="font-size:x-small; font-style: italic">Linien: {{ total }}</div>{% endif %}

<table id="data_grid" class="numbers tablesorter">
  <thead>
  <tr>{% for name in field_names %}
      <th{% if name.0 == '*' %} class="aggr"{% endif %}{% if forloop.counter0 in sf_indices %} title="Standardfehler"{% endif %}>{{ name }}</th>
      {% endfor %}
  </tr>
  </thead>
  <tbody>
  {% for line in query %}
    <tr>
    {% for value in line %}<td{% if forloop.counter0 in sf_indices %} class="sf"{% endif %}>{{ value|display_value }}</td>{% endfor %}
    </tr>
  {% empty %}
    <tr><td colspan="5">Leider ergab Ihre Suchanfrage keinen Daten</td></tr>
  {% endfor %}
  </tbody>
</table>
<div class="db_view">[aus <a href="{% url 'view_def' db_view.oid %}">{{ db_view.name }}</a>]</div>
{% endif %}
