{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head %}
<script type="text/javascript" src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("table.tablesorter").tablesorter({
            sortList: [[0,0]]
        });
    });
</script>
{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<table id="data_grid" class="numbers tablesorter">
  <thead>
      <tr>{% for name in field_names %}<th>{{ name }}</th>{% endfor %}</tr>
  </thead>
  <tbody>
      {% for line in data %}<tr>{% for item in line %}<td>{{ item }}</td>{% endfor %}</tr>{% endfor %}
  </tbody>
</table>
{% endblock %}
