<div>
  <h3>Waldeigentümer</h3>
  <p>Alle Waldeigentümer der beiden Basel.</p>
  <p><b>Datenquelle:</b> "afw" Datenbank, "fp.v_waldeigentum_detail" Sicht.</p>
  <p><i>Siehe auch import_eigentumer() Methode in Datei <a href="https://gitlab.com/guaraci/ksp/blob/master/observation/management/commands/populate_regions.py">populate_regions.py</a></i>
  </p>
</div>
