<div>
  <h3>Entwicklungsstufe</h3>
  <p>Bestimmte Etappe der Entwicklung eines Waldbestandes charakterisiert durch dessen Grösse.</p>
  <p><a href="{% url 'data_model' 'develstage' %}">Datei</a>.
  </p>
</div>
