<div>
  <h3>Schutzwald</h3>
  <p>Ein Schutzwald ist ein Wald, der ein anerkanntes Schadenpotential gegen eine bestehende Naturgefahr schützen oder die damit verbundenen Risiken reduzieren kann.<br>
  <a href="https://www.baselland.ch/fileadmin/baselland/files/docs/vsd/forstamt/doku/waldnachrichten_25.PDF">Mehr Informationen</a>.</p>
  <p><b>Datenquelle:</b> "afw" Datenbank, "ng.schutzwald_laufend" Tabelle.</p>
  <p><i>Siehe auch import_schutzwald() Methode in Datei <a href="https://gitlab.com/guaraci/ksp/blob/master/observation/management/commands/populate_regions.py">populate_regions.py</a></i>
  </p>
</div>
