<div>
  <h3>Waldentwicklungspläne (WEP)</h3>
  <p>Alle Waldentwicklungspläne der beiden Basel.</p>
  <p><b>Datenquelle:</b> "afw" Datenbank, "common.lut_wep_name" Tabelle für WEP Namen, "common.lut_wep_perimeter" Tabelle für WEP Gemeinden und "admin.admin_einteilung_blbs" Tabelle um den WEP Perimeter zu generieren.</p>
  <p><i>Siehe auch import_wep() Methode in Datei <a href="https://gitlab.com/guaraci/ksp/blob/master/observation/management/commands/populate_regions.py">populate_regions.py</a></i>
  </p>
</div>
